// colors
$primary-white: #fff;
$primary-blue: #0082f4;
$text-color: #83869a;
$secondary-text-color: #13183f;

// fonts
$main-font-family: "plus jakarta", Arial, sans-serif;
$main-font-size: 1.8rem;

//buttons
